.goods {
    @include sectionWhite;
    min-height: 700px;

    &__header {
        @include sectionHeader;
        color: $sectionTextColor;
    }

    &__separator {
        @include sectionSeparator;
        background-color: $sectionTextColor;
    }

    &__subheader {
        @include sectionSubheader;
    }
}