.info {
    @include sectionWhite;
    min-height: 760px;

    &__header {
        @include sectionHeader;
        color: $sectionTextColor;
    }

    &__separator {
        @include sectionSeparator;
        background-color: $sectionTextColor;
    }

    &__subheader {
        @include sectionSubheader;
    }

    &__descr {
        margin-top: 3%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        &__item {
            margin-top: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 27%;
            padding: 2%;
            // border: 1px solid $sectionTextColor;
            // border-radius: 3%;
        }

        &__icon {
            height: 81px;
            width: 81px;
        }

        &__header {
            margin-top: 10%;
            font-size: 23px;
            line-height: 23px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            color: $sectionTextColor;
        }

        &__subheader {
            margin-top: 3%;
            font-size: 15px;
            line-height: 16px;
            font-weight: 400;
            text-align: center;
        }
    }
}