@import 'base/_fonts.scss';
@import 'base/_variables.scss';
@import 'base/_mixins';
@import 'sections/_header.scss';
@import 'sections/_home.scss';
@import 'sections/_info.scss';
@import 'sections/_services.scss';
@import "sections/goods";
@import "sections/tabs";
@import "sections/partners";

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1169px;
    margin: 0 auto;
}






