@import 'blocks/_calc.css';
@import 'globals/_btn.css';


* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.container {
    width: 1144px;
    margin: 0 auto;
}