.btn {
    display: block;
    width: 25%;
    height: 41px;
    outline: none;
    background-color: rgba(1, 20, 128, 0.541);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;  
    transition: 0.3s all;
}
.btn:hover {
  box-shadow: 2px 3px rgba(0, 0, 0, 0.212);  
}
.btn:active {
    background-color: rgba(4, 15, 75, 0.596);
}

.btn__operator_l {
    width: 50%;
}